# Dev
test.js

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Testing, Coverage, CI, etc
.nyc_output
coverage
